/source/build
/gimmix/build
/gimmix/org/build
/eco32/build
/eco32/asld
/eco32/disk
/eco32/hwtests
/eco32/simtest
/eco32/monitor
/eco32/stdalone
/source/log.txt
/cross/*/src
/cross/*/build
/source/.*project
/source/.*settings
/eco32/.*project
/gimmix/.*project
*.o
*.bin
*.mak
*.exo
*.pyc
