/source/build
/source/log.txt
/gimmix/build
/gimmix/org/build
/eco32/build
/eco32/asld
/eco32/disk
/eco32/hwtests
/eco32/simtest
/eco32/monitor
/eco32/stdalone
/eco32/sim/sim
/eco32/sim/getline/libgetline.a
/eco32/sim/getline/testgl
/cross/*/src
/cross/*/build
/cross/*.gz
/cross/*.bz2
*.o
*.bin
*.mak
*.exo
*.pyc
.sconsign.dblite
*.sublime-workspace
